
/*Header Info*/
h1 {
    margin: 50px;
    text-align: center;
}

#header {
    margin-bottom: 50px;
}
#completeInputs {
    width: 50%;
}

.btn-sm {
    padding: 0px 10px;
    background: linear-gradient( rgb(51,153,255), rgb(30,99,165) );
    color: white;
    border-radius: 10px;
    height: 35px !important;
    width: 75px;
}

/*Table*/

#tableHeaderRow {
    background: rgb(91, 92, 94);
    color: white;
    font-weight: normal !important;
    
}
/*tr:hover {
    background-color: lightblue !important;
}
*/

.message {
    position: relative;
    left: 60px;
    bottom: 100px;
}

.fa-question-circle {
    color: rgb(242, 210, 50)
}




/*toggle switch original-disabled*/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    /*transition: all 0.4s ease-in-out;*/
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

/*having this blocked out disables the switch*/
/*
.material-switch > input[type="checkbox"]:checked + label::before {
    background: green;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: green;
    left: 20px;
}
*/

/*toggle switch color examples for display purpose only*/
  

/*toggle switch enabled yellow*/
.material-enabled > input[type="checkbox"] {
    display: none;   
}

.material-enabled > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-enabled > label::before {
    background: rgb(242, 210, 50);
    box-shadow: inset 0px 0px 10px rgba(242, 210, 50);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-enabled > label::after {
    background: rgb(242, 210, 50);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-enabled > input[type="checkbox"]:checked + label::before {
    background: green;
    opacity: 0.5;
}
.material-enabled > input[type="checkbox"]:checked + label::after {
    background: green;
    left: 20px;
}

/*toggle switch enabled green for Legend*/
.material-green > input[type="checkbox"] {
    display: none;   
}

.material-green > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-green > label::before {
    background: green;
    box-shadow: inset 0px 0px 10px green;
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-green > label::after {
    background: green;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-green > input[type="checkbox"]:checked + label::before {
    background: green;
    opacity: 0.5;
}
.material-green > input[type="checkbox"]:checked + label::after {
    background: green;
    left: 20px;
}


.legend {
    border: 2px outset grey;
      padding: 15px;
      margin-top: 0px;
}


